body { font-size: small; }

#live-start-form label, #live-start-form input { display:block; }
#live-start-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
#live-start-form fieldset { padding:0; border:0; margin-top: 1em; }

h1 { font-size: large; border-bottom: 2px solid black; }
h2 { font-size: medium; border-bottom: 1px solid black; }
h3 { font-size: small; }
#ctrl-text { padding-bottom: 1ex; }

#connstat { white-space:pre; margin-bottom: 1em }
