body { font-size: small; }

#programs {
    width: auto;
    border-spacing: 0;
}
#programs thead tr {
    background: #acf;
}
#programs thead tr td:first-child {
    background: #fff;
}
#programs thead tr td {
    border-top: 1px solid #7ae;
    text-align: center;
}
#programs tr td {
    padding: 0.5ex 0.5em;
    border-bottom: 1px solid #7ae;
    border-right: 1px solid #7ae;
}
#programs tr td:first-child {
    padding: 0;
}
#programs tody tr:first-child td {
    border-top: 1px solid #7ae;
    border-right: 1px solid #7ae;
}
#programs tr td:first-child {
    border-top-width: 0px;
    border-bottom-width: 0px;
}
#programs tbody tr:nth-child(2n+1) td {
    background: #e9faff;
}
#programs tbody tr, #programs tbody tr td:first-child {
    background: #fff;
}
#programs button {
    margin: 0 1ex 0 0;
    font-size: 80%;
}

h1 { font-size: large; border-bottom: 2px solid black; }
h2 { font-size: medium; border-bottom: 1px solid black; }

#connstat { white-space:pre }
